*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='320' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='2.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='11'/%3E%3Ccircle cx='539' cy='269' r='11'/%3E%3Ccircle cx='603' cy='493' r='11'/%3E%3Ccircle cx='731' cy='737' r='11'/%3E%3Ccircle cx='520' cy='660' r='11'/%3E%3Ccircle cx='309' cy='538' r='11'/%3E%3Ccircle cx='295' cy='764' r='11'/%3E%3Ccircle cx='40' cy='599' r='11'/%3E%3Ccircle cx='102' cy='382' r='11'/%3E%3Ccircle cx='127' cy='80' r='11'/%3E%3Ccircle cx='370' cy='105' r='11'/%3E%3Ccircle cx='578' cy='42' r='11'/%3E%3Ccircle cx='237' cy='261' r='11'/%3E%3Ccircle cx='390' cy='382' r='11'/%3E%3C/g%3E%3C/svg%3E");
    font-weight: bold;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 25px;
    font-size: 22px;
    color: white;
}

h1 {
    font-size: 70px;
}

h2 {
    padding: 15px;
    font-size: 50px;
}

p {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

h3 {
    padding: 20px;
}

.container_padre {
    height: 900px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.uno_hijo_1 {
    width: 25%;
    height: 80%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    border: 5px solid var(--bs-red);
    box-shadow: 0 0 20px var(--bs-red);
}

.uno_hijo_2 {
    width: 25%;
    height: 80%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    border: 5px solid var(--bs-red);
    box-shadow: 0 0 20px var(--bs-red);
}

.cara {
    width: 20%;
    height: 40%;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0 20px var(--bs-red);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-red);
    text-shadow: 0 0 20px var(--bs-red);
}

.container_padre_2 {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-around;
}

.container_padre_2 > div {
    width: 15%;
    background-color: white;
    border: 5px solid var(--bs-red);
    box-shadow: 0 0 20px var(--bs-red);
    margin:50px 0px 50px 0px ;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

footer {
    background-color: #dc3545;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size:x-large;
}