* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    background-color: aquamarine;
}

h1 {
    text-align: left;
}

.nav_body {
    display: flex;
    flex-direction: row;
    background-color: gray;
}

.nav_foot{
    display: flex;
    flex-direction: row;
}

nav a {
    color: aliceblue;
    padding: 14px 20px;
    text-decoration: none;
}

.div_1 {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    max-width: 2300px;
}

.div_2 {
    max-width: 300px;
    max-height: 1000px;
    margin-left: 30px;
}

aside {
    background-color: antiquewhite;
    padding: 20px;   
}

.aside_left, .aside_right {
    flex-flow: column wrap;
}

.aside_left {
    flex: 0 200px;
}

.aside_right {
    max-height: 800px;
    max-width: 300px;
}

section {
    flex: 60%;
    background-color: rgb(252, 252, 107);
    padding: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

img {
    width: 200px;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: rgb(248, 101, 101);
}

@media screen and (max-width: 700px){
    nav,.div_1 {
        flex-direction: column;
    }
}