* {
    font-family: monospace;
}

main {
    background-color: rgb(235, 235, 235);
    font-size: 17px;
    font-weight: 500;
    width: 70%;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin-top: 100px;
    margin-left: 15%; 
}

h1 {
    margin: 50px 45% 50px 45%;
}

table, td, tr {
    border: 2px solid black;
    width: 300px;
    border-collapse: collapse;
}




