.flex-container {
    display: flex;
    background-color: rgb(59, 95, 255);
    padding: 5px;
    flex-flow: row wrap;
    /* Justificar Horzontalmente */
    justify-content: center;
    width: 300px;
    height: 300px;
    /* Justificar verticalmente */
    align-items: center;
     /* Alinea vertcalmente*/
    align-content: center;
}

.flex-container div {
    background-color: rgb(87, 248, 154);
    margin: 5px;
    padding: 10px;
}