
h1 {
  border-bottom: 1px solid black;
}

h2 {
  border-style: solid;
}

#ul_uno {
  border-top-style: dotted;
  border-bottom: dotted;
  border-color: #dc012b;
}

p {
  font-size: 17px; 
  margin: 20px;
}

#ul_dos { 
  border-top-style: dashed;
  border-bottom:dashed;
  border-color: #37df0d;
}