* {
    text-align: center;
    font-weight: 1000;
}
body {
    background-color: gray;
    font-size:30px;
    font-family:monospace;
}

h1 {
    border: 3px solid black;
    padding: 10px;
    background-color: rgb(38, 222, 255);
    font-size: 40px;
}

section {
    background-color: rgb(160, 160, 160);
    width: 2120px;
    height: 1170px;
    margin: 120px;
}

div {
    border: 3px solid black;
    height: 350px;
    width: 2000px;
    margin: 50px;
}

img {
    height: 300px;
    float: left;
    padding: 10px;
}

#uno {
    background-color: aquamarine;
}

#dos {
    background-color: blanchedalmond;
}

#tres {
    background-color: rgb(247, 123, 123);
}